<!--
 * @Author: zmj
 * @Date: 2019-09-11 08:46:23
 * @LastEditors: Raiz
 * @lastTime: 2020-07-31 13:49:24
 * @description: 按钮组件，为使按钮规范化
 -->
<template>
  <span v-permission="buttonData.permission || ['default']" class="buttonBlock">
    <!-- 动态隐藏显示的button -->
    <span v-if="buttonData.relation" v-show="buttonShow">
      <el-button
        :ref="buttonData.name"
        :type="buttonData.type"
        @click.stop="click(buttonData)"
      >
        <span>{{ buttonData.name }}</span>
      </el-button>
      <slot name="buttonAdd" />
    </span>

    <!-- 普通按钮 -->
    <span v-else>
      <el-button
        :ref="buttonData.name"
        :type="buttonData.type"
        @click.stop="click(buttonData)"
      >
        <span>{{ buttonData.name }}</span>
      </el-button>
      <slot name="buttonAdd" />

    </span>
  </span>
</template>

<script>
import permission from '@/directive/permission/index.js'
export default {
  name: 'ByButton',
  directives: {
    permission
  },
  props: {
    buttonData: {
      type: Object,
      default() {
        return {
          permission: [''],
          type: 'primary',
          shape: '',
          name: ''
        }
      }
    },
    buttonShow: {
      type: Boolean,
      default() {
        return false
      }
    }
  },
  methods: {
    click(item) {
      const el = this.$refs[item.name].$el
      // console.log(this.$refs[name].$el.getBoundingClientRect())
      this.$emit('click', item, el)
    },
    getBtnEl() {
      return this.$refs[this.buttonData.name].$el
    }
  }
}
</script>
<style scoped>

</style>
