<!--
 * @Author: zmj
 * @Date: 2019-09-11 08:46:23
 * @LastEditors  : yyd
 * @lastTime     : 2019-12-27 10:24:42
 * @description: 按钮组件，为使按钮规范化
 -->
<template>
  <el-tooltip placement="top" effect="light">
    <div v-if="!buttonData.hiddenTip" slot="content">
      <div v-if="buttonData.more" class="button-more">
        <div v-for="item in buttonData.more" :key="item.name" v-permission="item.permission || ['default']">
          <div v-if="item.relation" v-show="buttonShow" class="button-more-item" @click.stop="click(item)">{{ item.name }}</div>
          <div v-else class="button-more-item" @click.stop="click(item)">{{ item.name }}</div>
        </div>
      </div>
      <div v-else class="button-name-tip">
        {{ buttonData.name }}
      </div>
    </div>
    <by-button ref="btn" :button-data="buttonData" :button-show="buttonShow" :shape="shape" @click="click">
      <template #buttonAdd><slot name="buttonAdd" /></template>
    </by-button>
  </el-tooltip>
</template>

<script>
import byButton from '@/components/Button'
import permission from '@/directive/permission/index.js'

export default {
  name: 'ByTipButton',
  components: {
    byButton
  },
  directives: {
    permission
  },
  props: {
    buttonData: {
      type: Object,
      default() {
        return {
          permission: [''],
          type: 'primary',
          shape: '',
          name: ''
        }
      }
    },
    buttonShow: {
      type: Boolean,
      default() {
        return false
      }
    },
    shape: {
      type: String,
      default() {
        // 按钮默认为圆形——本项目需要
        return 'circle'
      }
    }
  },
  data() {
    return {
    }
  },
  methods: {
    /**
     * @author: zmj
     * @description: <点击>按钮，触发父组件事件
     * @param {String} name 按钮名称
     * @return: click(name)
     *          name {String} 按钮名称
     */
    click(item, el) {
      if (this.buttonData.more) {
        el = this.getBtnEl()
      }
      this.$emit('click', item, el)
      this.$emit('setItem', item, el, this.buttonData)
    },
    /**
     * @author: zmj
     * @description: 获取btnEl
     * @param {type}
     * @return:
     */
    getBtnEl() {
      return this.$refs.btn.getBtnEl()
    }
  }
}
</script>
<style lang="scss" scoped>

.button-more {
  .button-more-item {
    width: 98px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    text-align: center;
    color: #000;
  }
  .button-more-item:hover {
    background-color: #ecf5ff;
    color: #66b1ff;
  }
}

.button-name-tip {
  padding: 10px;
}

</style>
<style lang='scss'>
.el-tooltip__popper.is-light{
  padding: 0;
  border: 1px solid #EBEEF5;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  .popper__arrow{
    border: 1px solid #EBEEF5;
  }
}
</style>
