<!--
 * @Author: Raiz
 * @since: 2020-07-07 14:02:49
 * @lastTime: 2020-07-27 15:37:14
 * @LastEditors: Raiz
 * @Description:
-->
<template>
  <div class="dashboard-container">
    <component :is="currentRole" />
  </div>
</template>

<script>
import adminDashboard from './admin'
import editorDashboard from './editor'

export default {
  name: 'Dashboard',
  components: { adminDashboard, editorDashboard },
  data() {
    return {
      currentRole: 'adminDashboard'
    }
  }
}
</script>
