<!--
 * @Author: Raiz
 * @since: 2020-07-31 14:47:07
 * @lastTime: 2020-07-31 16:32:52
 * @LastEditors: Raiz
 * @Description:
-->
<template>
  <div class="head">
    <el-button type="primary" @click="getCheckedKeys">提交</el-button>
    <span v-if="showTree">
      <el-tree
        ref="tree"
        :data="treeData"
        show-checkbox
        node-key="id"
        :props="defaultProps"
      />
    </span>
  </div>
</template>
<script>
export default {
  data() {
    return {
      data: [
        {
          'id': 1,
          'name': '角色模块',
          'parentId': 0,
          'level': 0,
          'seq': 0,
          'routeName': 'test',
          'componentPath': '/test',
          'path': '/role',
          'menuTree': [],
          'menuList': [
            {
              'id': 1,
              'menuName': '添加',
              'menuUrl': '/user/add',
              'menuParam': 'ADD',
              'moduleId': 1,
              'createdTime': null,
              'updateTime': '2020-07-31 13:41:08'
            },
            {
              'id': 2,
              'menuName': '删除',
              'menuUrl': '/user/delete',
              'menuParam': 'DELETE',
              'moduleId': 1,
              'createdTime': null,
              'updateTime': '2020-07-31 13:41:12'
            },
            {
              'id': 3,
              'menuName': '修改',
              'menuUrl': '/user/update',
              'menuParam': 'UPDATE',
              'moduleId': 1,
              'createdTime': null,
              'updateTime': '2020-07-31 13:41:16'
            }
          ]
        },
        {
          'id': 2,
          'name': '用户模块',
          'parentId': 0,
          'level': 0,
          'seq': 1,
          'routeName': '',
          'componentPath': '',
          'path': '/user',
          'menuTree': [
            {
              'id': 3,
              'name': '第三模块',
              'parentId': 2,
              'level': 1,
              'seq': 0,
              'routeName': '',
              'componentPath': '',
              'path': '',
              'menuTree': [
                {
                  'id': 4,
                  'name': ' 第四模块',
                  'parentId': 3,
                  'level': 2,
                  'seq': 0,
                  'routeName': '',
                  'componentPath': '',
                  'path': '',
                  'menuTree': [
                    {
                      'id': 5,
                      'name': '第五模块',
                      'parentId': 4,
                      'level': 3,
                      'seq': 0,
                      'routeName': '',
                      'componentPath': '',
                      'path': '',
                      'menuTree': [],
                      'menuList': [
                        {
                          'id': 4,
                          'menuName': '查询',
                          'menuUrl': '/user/query',
                          'menuParam': 'QUERY',
                          'moduleId': 5,
                          'createdTime': null,
                          'updateTime': '2020-07-31 16:06:31'
                        },
                        {
                          'id': 5,
                          'menuName': '测试',
                          'menuUrl': '/test',
                          'menuParam': 'test',
                          'moduleId': 5,
                          'createdTime': '2020-07-28 09:12:38',
                          'updateTime': '2020-07-31 16:06:32'
                        },
                        {
                          'id': 6,
                          'menuName': '权限',
                          'menuUrl': '/xixi',
                          'menuParam': 'xixi',
                          'moduleId': 5,
                          'createdTime': '2020-07-28 10:53:43',
                          'updateTime': '2020-07-31 16:06:33'
                        }
                      ]
                    }
                  ],
                  'menuList': []
                }
              ],
              'menuList': []
            }
          ],
          'menuList': []
        }
      ],
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      treeData: [],
      showTree: false
    }
  },
  mounted() {
    this.transfer(this.data, this.treeData)
    this.showTree = true
    console.log(this.treeData)
  },
  methods: {
    transfer(item, treeData) {
      item.forEach((element, key) => {
        treeData[key] = {
          id: element.id,
          name: element.name,
          children: []
        }
        if (element.menuTree.length === 0 && element.menuList.length > 0) {
          const menuList = []
          element.menuList.forEach(menu => {
            const temp = {
              id: menu.id,
              name: menu.menuName
            }
            menuList.push(temp)
          })
          treeData[key].children = menuList
        } else if (element.menuTree.length > 0 && element.menuList.length === 0) {
          this.transfer(element.menuTree, treeData[key].children)
        } else {
          return
        }
      })
    },
    getCheckedKeys() {
      const checkedKeys = this.$refs.tree.getCheckedKeys(true)
      console.log(checkedKeys)
      return checkedKeys
    }
  }
}
</script>
<style scoped>
.head{
  margin-left: 20px;
  margin-top: 20px;
}
</style>
