<!--
 * @Author: Raiz
 * @since: 2020-07-31 09:24:37
 * @lastTime: 2020-07-31 16:34:21
 * @LastEditors: Raiz
 * @Description:
-->
<template>
  <div class="mainBody">
    <div>
      <el-table :data="userTableData" style="width: 100%">
        <el-table-column type="index" label="序号" />
        <el-table-column prop="username" label="用户名" />
        <el-table-column prop="disable" label="账户状态">
          <template slot-scope="scope">
            <el-tag
              :type="scope.row.disable === '启用' ? 'success' : 'danger'"
              disable-transitions
            >{{ scope.row.disable }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作">
          <template v-slot="scope">
            <el-button type="danger" size="small" @click="deleteUser(scope.$index)">删除</el-button>
            <el-button type="primary" size="small" @click="updateUser(scope.$index)">编辑</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        layout="prev, pager, next"
        :total="50"
        class="demonstration"
        @current-change="handleCurrentChange"
      />
    </div>
  </div>
</template>
<script>

import { getAllUser } from '@/api/user'
export default {
  data() {
    return {
      page: {
        pageSize: 5,
        pageNum: 1
      },
      userTableData: []
    }
  },
  mounted() {
    this.getUserList()
  },
  methods: {
    deleteUser(index) {
      console.log('删除用户')
    },
    updateUser(index) {
      console.log('更新用户')
    },
    getUserList() {
      getAllUser(this.page).then(response => {
        console.log(response)
        this.userTableData = response.data.list
        response.data.list.forEach(element => {
          if (element.disable === 0) {
            element.disable = '启用'
          } else {
            element.disable = '禁用'
          }
        })
      })
    },
    handleCurrentChange(val) {
      this.page.pageNum = val
      this.getUserList()
    }
  }
}
</script>
<style scoped>
.mainBody{
  margin-left: 20px;
  margin-top: 20px;
}
.demonstration {
  position: absolute;
  right: 24px;
}
</style>
