<!--
 * @Author: Raiz
 * @since: 2020-07-27 10:45:29
 * @lastTime: 2020-07-31 13:41:48
 * @LastEditors: Raiz
 * @Description:
-->
<template>
  <div style="margin-left:20px; margin-top:20px;">
    <el-row>
      <el-col :span="2">
        <by-button
          :button-data="addButtonData"
          @click="addOperation"
        />
      </el-col>
      <el-col :span="2">
        <by-button
          :button-data="deleteButtonData"
          @click="deleteOperation"
        />
      </el-col>
      <el-col :span="2">
        <by-button
          :button-data="updateButtonData"
          @click="updateOperation"
        />
      </el-col>
      <el-col :span="2">
        <by-button
          :button-data="queryButtonData"
          @click="queryOperation"
        />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import byButton from '@/components/Button'
import { addOp, deleteOp, updateOp, queryOp } from '@/api/test'
export default {
  components: {
    byButton
  },
  data() {
    return {
      addButtonData: {
        name: '添加',
        type: 'primary',
        icon: 'icon-edit-small',
        permission: ['ADD']
      },
      deleteButtonData: {
        name: '删除',
        type: 'primary',
        icon: 'icon-edit-small',
        permission: ['DELETE']
      },
      updateButtonData: {
        name: '修改',
        type: 'primary',
        icon: 'icon-edit-small',
        permission: ['UPDATE']
      },
      queryButtonData: {
        name: '查询',
        type: 'primary',
        icon: 'icon-edit-small',
        permission: ['QUERY']
      }
    }
  },
  methods: {
    addOperation() {
      addOp().then(response => {
        console.log(response)
      })
    },
    deleteOperation() {
      deleteOp().then(response => {
        console.log(response)
      })
    },
    updateOperation() {
      updateOp().then(response => {
        console.log(response)
      })
    },
    queryOperation() {
      queryOp().then(response => {
        console.log(response)
      })
    }
  }
}
</script>
